<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_entity_attribute_save_after">
        <observer
            name="create_tweakwise_slugs_after_save_attribute"
            instance="Tweakwise\Magento2Tweakwise\Observer\CreateTweakwiseSlugsAfterSaveAttribute"
        />
    </event>
    <event name="wishlist_add_product">
        <observer name="Tweakwise_Magento2Tweakwise_Observer_Event_StashAddToWishlistEvent"
                  instance="Tweakwise\Magento2Tweakwise\Observer\Event\StashAddToWishlistEvent"/>
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="Tweakwise_Magento2Tweakwise_Observer_Event_StashAddToCartEvent"
                  instance="Tweakwise\Magento2Tweakwise\Observer\Event\StashAddToCartEvent"/>
    </event>
</config>
