<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="../../../../dev/tests/unit/framework/bootstrap.php">
    <!-- Test suites definition -->
    <testsuites>
        <testsuite name="Tweakwsie tests">
            <directory>./</directory>
        </testsuite>
        <testsuite name="Tweakwsie export tests">
            <directory>../../magento2-tweakwise-export</directory>
        </testsuite>
    </testsuites>
    <!-- Code coverage filters -->
    <!-- PHP INI settings and constants definition -->
    <php>
        <includePath>.</includePath>
        <includePath>testsuite</includePath>
        <ini name="date.timezone" value="Europe/Amsterdam"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
